.w-e-bar-divider {
    height: 20px !important;
    margin: 10px 2px !important;
    width: 1px !important;
}


.w-e-text-container{

    border-top: none !important;
    padding: 0 !important;

    pre>code{
        width: 500px !important;
    }

}

.w-e-bar{
    padding: 0 !important;
}

.w-e-bar-item {

    .title{
        font-size: 12px !important;
    }

    .w-e-menu-tooltip-v5{
        border-radius: 8px !important;
        height: 36px !important;
    }

    &:hover {
        border-radius: 8px !important;
    }
}