<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kmbeast.mapper.EvaluationsMapper">

    <!-- resultMap 用于定义结果集映射 -->
    <resultMap id="commentParentResultMap" type="com.kmbeast.pojo.vo.CommentParentVO">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="username" column="username"/>
        <result property="avatar" column="avatar"/>
        <result property="content" column="content"/>
        <result property="childTotal" column="childTotal"/>
        <result property="createTime"
                column="create_time"
                javaType="java.time.LocalDateTime"
                jdbcType="TIMESTAMP"/>
        <!-- 使用 collection 项目类型来映射一对多关系 -->
        <collection property="commentChildVOS"
                    ofType="com.kmbeast.pojo.vo.CommentChildVO"
                    column="{id=id,userId=user_id_param}"
                    select="getChildCommentsByParentId"/>
    </resultMap>

    <!-- 查询父级评论 -->
    <select id="getParentComments" resultMap="commentParentResultMap">
        SELECT e.id                                                                                                   AS id,
               e.content                                                                                              AS content,
               e.create_time                                                                                          AS create_time,
               u.id                                                                                                   AS user_id,
               u.username,
               u.avatar,
               (SELECT COUNT(*) FROM evaluations ev WHERE ev.parent_id = e.id)                                        AS childTotal,
               (SELECT COUNT(*)
                FROM evaluations_upvote eu
                WHERE eu.user_id = #{userId}
                  AND eu.evaluations_id = e.id)                                                                       AS upvoteFlag,
               (SELECT COUNT(*)
                FROM evaluations_upvote eu
                WHERE eu.evaluations_id = e.id)                                                                       AS upvoteCount,
               #{userId}                                                                                              AS user_id_param
        FROM evaluations e
                 LEFT JOIN user u ON u.id = e.commenter_id
        WHERE e.content_id = #{contentId}
          AND e.content_type = #{contentType}
          AND e.parent_id IS NULL
        ORDER BY id DESC
    </select>

    <!-- 根据父级评论ID查询子级评论 -->
    <select id="getChildCommentsByParentId"
            resultType="com.kmbeast.pojo.vo.CommentChildVO">
        SELECT e.id                                                                                                   AS id,
               e.content                                                                                              AS content,
               e.create_time                                                                                          AS createTime,
               e.parent_id                                                                                            AS parentId,
               u.id                                                                                                   AS userId,
               (SELECT COUNT(*)
                FROM evaluations_upvote eu
                WHERE eu.user_id = #{userId}
                  AND eu.evaluations_id = e.id)                                                                       AS upvoteFlag,
               (SELECT COUNT(*)
                FROM evaluations_upvote eu
                WHERE eu.evaluations_id = e.id)                                                                       AS upvoteCount,
               u.username                                                                                            AS username,
               u.avatar                                                                                          AS avatar,
               u1.id                                                                                                  AS replierId,
               u1.username                                                                                           AS replierName,
               u1.avatar                                                                                         AS replierAvatar
        FROM evaluations e
                 LEFT JOIN user u ON u.id = e.commenter_id
                 LEFT JOIN user u1 ON u1.id = e.replier_id
        WHERE e.parent_id = #{id}
          AND e.parent_id IS NOT NULL
        ORDER BY id DESC
    </select>

    <select id="query" resultType="com.kmbeast.pojo.vo.CommentChildVO">
        SELECT e.id AS id,
        e.content AS content,
        e.create_time AS createTime,
        e.parent_id AS parentId,
        e.content_type AS contentType,
        u.id AS userId,
        u.username AS username,
        (SELECT COUNT(*) FROM evaluations_upvote eu WHERE eu.user_id = #{userId} AND eu.evaluations_id = e.id) AS
        upvoteFlag,
        (SELECT COUNT(*) FROM evaluations_upvote eu WHERE eu.evaluations_id = e.id) AS upvoteCount,
        u.avatar AS avatar,
        u1.id AS replier_id,
        u1.username AS replierName,
        u1.avatar AS replierAvatar
        FROM evaluations e
        LEFT JOIN user u ON u.id = e.commenter_id
        LEFT JOIN user u1 ON u1.id = e.replier_id
        <where>
            <if test="contentType != null and contentType != ''">
                AND e.content_type = #{contentType}
            </if>
            <if test="content != null and content != ''">
                AND e.content like concat('%',#{content},'%')
            </if>
            <if test="startTime != null and endTime != null">
                AND e.create_time BETWEEN #{startTime} AND #{endTime}
            </if>
        </where>
        ORDER BY e.create_time DESC
        <if test="current != null and size != ''">
            LIMIT #{current},#{size}
        </if>
    </select>

    <select id="queryCount" resultType="integer">
        SELECT COUNT(*)
        FROM evaluations e
        <where>
            <if test="contentType != null and contentType != ''">
                AND e.content_type like concat('%',#{contentType},'%')
            </if>
            <if test="content != null and content != ''">
                AND e.content like concat('%',#{content},'%')
            </if>
            <if test="startTime != null and endTime != null">
                AND e.create_time BETWEEN #{startTime} AND #{endTime}
            </if>
        </where>
    </select>

    <!-- 批量删除笔记信息 -->
    <delete id="batchDelete" parameterType="list">
        DELETE FROM evaluations WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 评论信息新增 -->
    <insert id="save">
        INSERT INTO evaluations(parent_id, commenter_id, replier_id, content_type, content_id, content,
                                create_time)
        VALUES (#{parentId}, #{commenterId}, #{replierId}, #{contentType}, #{contentId}, #{content},
                #{createTime})
    </insert>

    <!-- 批量查询二级评论信息 -->
    <select id="selectChildComments" parameterType="list" resultType="Integer">
        SELECT e.id FROM evaluations e WHERE e.parentId IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <!-- 查询指定内容的全部评论数目 -->
    <select id="totalCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM evaluations e
        WHERE e.content_id = #{contentId}
          AND e.content_type = #{contentType}
    </select>

</mapper>